
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  /* background: url('/public/assets/images/deliciousburger.jpg'); */
  background-image: url("https://wallpapercave.com/wp/wp1987065.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}